.Catalogos
  .container
    .row
      .col-md-12
        h1.header Obtenga nuestros cat&aacute;logos
  
  .container-fluid.Catalogos-dianne
    .row
      .col-md-6
        img(src="/images/catalogo1_portada.jpg")
      .col-md-6
        .Catalogos-download
          .falsefoto
            img(src="/images/catalogo1_portada.jpg")
          .center
            a(target="_blank" href="/pdf/catalogo-dianne.pdf" class="downloadButton")
              .icon
                i.fa.fa-cloud-download
              .text
                p Cat&aacute;logo Dianne
                span Aut&eacute;nticos creadores de forma
                
  .container-fluid.Catalogos-vip
    .row
      .col-md-6
        img(src="/images/catalogo2_portada.jpg")
      .col-md-6
        .Catalogos-download
          .falsefoto
            img(src="/images/catalogo1_portada.jpg")
          .center
            a(target="_blank" href="/pdf/catalogo-vip-2.pdf" class="downloadButton downloadButton--white")
              .icon.icon--white
                i.fa.fa-cloud-download
              .text.text--white
                p Cat&aacute;logo VIP 2.0
                span Maneras de vivir
          
          
  .container-fluid.Catalogos-fenix
    .row
      .col-md-6
        img(src="/images/catalogo3_portada.jpg")
      .col-md-6
        .Catalogos-download
          .falsefoto
            img(src="/images/catalogo1_portada.jpg")
          .center
            a(target="_blank" href="/pdf/catalogo-fenix.pdf" class="downloadButton")
              .icon
                i.fa.fa-cloud-download
              .text
                p Cat&aacute;logo Fenix
                span Espacios creados para so&ntilde;ar y compartir
