.Contacto
  div(class="Contacto-mapa" id="mapa")
  .Contacto-formulario
    .container
      .row
        .col-md-12
          h1.header Contacte con nosotros
          p Ctra. C&oacute;rdoba / M&aacute;laga, N-331 km 78,6, 14900 Lucena (C&oacute;rdoba)
          p Tel&eacute;fono: 957 51 54 16 / Fax: 957 51 12 06
          br
      .row
        .col-md-10.col-md-offset-1
          form( name="micorreo" id="micorreo" method="POST" )
              div(id="contactAlert" class="alert alert-danger") Complete los campos correctamente.
              div(id="contactSuccess" class="alert alert-success") Email enviado. Gracias.
              #flag-red-comercial
              .row
                .col-md-6
                  .form-group
                    input(type="text" class="form-control" name="nombre" id="nombre" placeholder="Nombre")
                .col-md-6
                  .form-group
                    input(type="text" class="form-control" name="phone" id="phone" placeholder="Teléfono")
                .col-md-6
                  .form-group
                    input(type="text" class="form-control" name="email" id="email" placeholder="Correo")
                .col-md-6
                  .form-group
                    input(type="text" class="form-control" name="ciudad" id="ciudad" placeholder="Ciudad")
                .col-md-12
                  .form-group
                    textarea(class="form-control" rows="4" name="message" id="message" placeholder="Mensaje")
                  button(type="sumbit" id="submitContact" class="flat-buttom") Enviar
  .Contacto-redcomercial
    .container
      .row
        .col-md-12
          h1.header Red Comercial
      .row
        .col-md-10.col-md-offset-1
          .table-responsive
            table.table.table-bordered.table-striped.table-condensed
              tr
                th: p.th ZONA
                th: p.th REPRESENTANTE
                th: p.th EMAIL
                th: p.th TEL&Eacute;FONO
              each comerial in comerciales
                tr 
                  td: p #{comerial.zona}
                  td: p #{comerial.representante}
                  td: p #{comerial.email}
                  td: p #{comerial.telefono}
