section.Subfooter
  .container
    .row
      .col-md-6
        h4 As&iacute; es Xilema. El mueble, nuestra vida. 
      .col-md-6
        .Subfooter-contactButton
          a(href="/contacto") Contacta
        

footer.Footer
  .container
    .row
      
      .col-md-4
        a(href="/")
          figure.Footer-logo: img(src="/images/logo-xilema-azul.svg")
      
      .col-md-4
        ul.Footer-socialLinks
          li: a(target="_blank" href="https://www.facebook.com/pages/Xilema-Mobiliario/1604887909761514"): i.fa.fa-facebook
          li: a(target="_blank" href="https://twitter.com/XilemaM"): i.fa.fa-twitter
          li: a(target="_blank" href="https://plus.google.com/107834903153189702514/"): i.fa.fa-google-plus
      
      .col-md-4
        
        - var mydate = new Date();
        - var ano = mydate.getFullYear();
        
        p.Footer-info Tel&eacute;fono: 957 51 54 16 / Fax: 957 51 12 06
        p.Footer-copyright Copyright Xilema @ #{ano}
