.HomeEmpresa
  .container
    .row
      .col-md-10.col-md-push-1
        .HomeEmpresa-iconos
          .row
            .col-xs-6.col-sm-6.col-md-3.wow.zoomIn
              .icono
                img(src="/images/icono-empresa1.jpg")
                p Profesionalidad
            .col-xs-6.col-sm-6.col-md-3.wow.zoomIn
              .icono
                img(src="/images/icono-empresa2.jpg")
                p Experiencia
            .col-xs-6.col-sm-6.col-md-3.wow.zoomIn
              .icono
                img(src="/images/icono-empresa3.jpg")
                p Conocimiento
            .col-xs-6.col-sm-6.col-md-3.wow.zoomIn
              .icono
                img(src="/images/icono-empresa4.jpg")
                p Innovaci&oacute;n
          
        .HomeEmpresa-texto
          p En Xilema Mobiliario pensamos que amar nuestro trabajo es la mejor herramienta para triunfar en el día a día. Nuestro deseo es transmitir un sello de identidad en nuestros muebles. En cada pequeño elemento de los mismos se encuentra una gran parte de nosotros, cada línea y cada trazo han sido cuidadosamente pensados para que el resultado adquiera la calidad y el encanto característicos de nuestras colecciones. 
          br
          p Partiendo de la elección de una materia prima de primerísima calidad y, utilizando como referencia nuestra seña de identidad unida a la influencia de la moda imperante, procedemos al prototipado de nuestras composiciones. Cada nuevo modelo contiene implícito el matiz artesanal y humanizado como valor más perceptible. El proceso de fabricación se lleva a cabo por carpinteros y ebanistas hasta que son etiquetados y expedidos. Crucial en la fabricación de nuestros productos es nuestro compromiso con el medio ambiente, minimizando el impacto que se produce mediante una correcta utilización,  almacenamiento y eliminación de las materias primas que intervienen en el procesado del mueble.
          
        a(class="HomeEmpresa-link wow fadeInUp" href="/contacto") Cont&aacute;ctenos
          

.HomeInstalaciones
  .container-fluid
    .row
      .col-md-4
        a(href="/images/instalacion1.jpg" class="fancybox" rel="gallery5" title="Instalaciones" )
          .HomeInstalaciones-box.uno
            .cajaInfo
              p Instalaciones
                span Ver m&aacute;s
              
      .col-md-4
        a(href="/images/instalacion2.jpg" class="fancybox" rel="gallery5" title="Innovacion" )
          .HomeInstalaciones-box.dos
            .cajaInfo
              p Dise&ntilde;o y tecnolog&iacute;a
                span Ver m&aacute;s
              
      .col-md-4
        a(href="/images/instalacion3.jpg" class="fancybox" rel="gallery5" title="Red comercial" )
          .HomeInstalaciones-box.tres
            .cajaInfo
              p Ventas
                span Ver m&aacute;s
            
            
.HomeCalidad
  .container
    .row
      .col-md-6.wow.fadeInLeft
        figure.HomeCalidad-foto
          img(src="/images/home-calidad.jpg")
      .col-md-6.wow.fadeInRight
        .HomeCalidad-infoBox
          h3 Calidad M&aacute;xima
          p En Xilema Mobiliario, nos aseguramos que nuestros productos tengan un diseño estable, resistente y duradero. Fabricamos con la mejor calidad en materia prima y respetando siempre al medio ambiente. Calidad m&aacute;xima garantizada.
          figure
            img(src="/images/hoja-xilema.svg")

.HomeProceso
  .container
    
    .row
      .col-md-12
        h1 Proceso productivo
  
    .row
      .col-md-10.col-md-push-1
  
        .row
          .col-md-6.wow.fadeInUp
            img(src="/images/proceso-almacen.jpg")
          .col-md-6.wow.fadeInUp
            h3 1. Almac&eacute;n 
            p Almacenamos cuidadosamente los muebles fabricados por nuestros carpinteros con el objetivo de tener unidades suficientes en stock y, de este modo, poder atender la demanda de nuestros clientes en los tiempos medios de entrega establecidos.
          .col-md-12
            .separador
        .row
          .col-md-6.wow.fadeInUp
            img(src="/images/proceso-lija.jpg")
          .col-md-6.wow.fadeInUp
            h3 2. Repaso y lijado 
            p Previo a la aplicaci&oacute;n de la pintura del mueble se realiza un repaso del mismo para corregir posibles defectos de carpinter&iacute;a, de este modo nos aseguramos de que la pintura queda perfectamente aplicada. La lija posterior a la aplicaci&oacute;n del tinte otorga a nuestros muebles una textura al tacto muy agradable.
          .col-md-12
            .separador
        .row
          .col-md-6.wow.fadeInUp
            img(src="/images/proceso-pintura.jpg")
          .col-md-6.wow.fadeInUp
            h3 3. Pintura 
            p Contamos con grandes profesionales en materia de pintura y terminaci&oacute;n de muebles. Tenemos una gran variedad de colores simples o combinados, nuestros acabadospueden ser barnizados o lacados. Elija el color o la combinaci&oacute;n que m&aacute;s le guste y nosotros lo haremos realidad. 
              span: a(href="/productos") [Conozca nuestros productos y acabados]
          .col-md-12
            .separador
            
        .row
          .col-md-6.wow.fadeInUp
            img(src="/images/proceso-montaje.jpg")
          .col-md-6.wow.fadeInUp
            h3 4. Montaje 
            p Los componentes del mueble acabados se unen entre s&iacute; mediante piezas de ferreter&iacute;a certificadas y por montadores cualificados con mucha experiencia. En esta sección se comprueba que el mueble presenta la funcionalidad para la que se produce, comprobando la maniobrabilidad  que ofrecen todos los mecanismos que incluye el producto.
          .col-md-12
            .separador
            
        .row
          .col-md-6.wow.fadeInUp
            img(src="/images/proceso-carga.jpg")
          .col-md-6.wow.fadeInUp
            h3 5. Embalaje y carga
            p Previo al empaquetado del mueble se realiza la limpieza exhaustiva del mismo y el control de calidad, donde se inspecciona minuciosamente que todo está correcto. Nuestros productos se embalan con materiales pl&aacute;sticos y cartones  de manera mecanizada, empleando formas y cantidades que confieren una gran protecci&oacute;n al producto durante su transporte.
          .col-md-12
            .separador
            
        .row
          .col-md-6.wow.fadeInUp
            img(src="/images/proceso-gestion.jpg")
          .col-md-6.wow.fadeInUp
            h3 6. Gesti&oacute;n 
            p Nuestro servicio de post-venta y atenci&oacute;n al cliente est&aacute; a su disposici&oacute;n para cualquier tipo de consulta, la atenci&oacute;n personalizada a nuestros clientes es una faceta que caracteriza a Xilema Mobiliario. Contamos con una red comercial a nivel nacional para estar presentes en cada parte del territorio y permanecer cercanos a nuestros clientes ofreciéndoles m&aacute;xima atenci&oacute;n. 
              span: a(href="/contacto/#flag-red-comercial") [Ir a Red Comercial]
