nav(class="navbar navbar-defined navbar-fixed-top" role="navigation")
  .container
    .row
      .col-md-12
        .navbar-header
          button( type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse" )
            i.fa.fa-bars
          a(class="navbar-brand page-scroll" href="/")
            img#logotipo(src="/images/logo-xilema.svg" alt='Xilema')
        .collapse.navbar-collapse.navbar-main-collapse
          
          ul.nav.navbar-nav.navbar-right
            
            each seccion in secciones
              if( linkActivo === seccion.link )
                li: a(href="#{seccion.url}" class="active") #{seccion.title}
              else
                li: a(href="#{seccion.url}") #{seccion.title}
