.Productos
  .container
    .row
      .col-md-12
        h1.header Conozca nuestros productos
    .row
      .col-md-12
        a.Productos-link#linkDormitorios Dormitorios
        a.Productos-link#linkSalones Salones
        a.Productos-link#linkAuxiliares Auxiliares
        a.Productos-link#linkPromociones Promociones
        a.Productos-link#linkAcabados Acabados

.Productos-listado
  .container
    .row
      #FlickrLibrary
        #FlickrLoading
          p 
            i.fa.fa-circle-o-notch.fa-spin
            | &nbsp;&nbsp;cargando ...
        #FlickrItemsContainer
