.container
  .row
    .col-md-12
      h1.header Conozca nuestros productos

.Producto-detail
  #flickrId #{idProducto}

  .container
    .row
      .col-md-6
        .Producto-detail-foto
          img(src="")
      .col-md-6
        .Producto-detail-info
          h4 
          p 
        .Producto-detail-social
          a(href="#" target="_blank" class="twitter_btn")
            p: i.fa.fa-twitter 
              &nbsp;| Compartir en Twitter
          a(href="#" target="_blank" class="facebook_btn")
            p: i.fa.fa-facebook 
              &nbsp;| Compartir en Facebook
          a(href="/productos" class="back_btn"): p Volver a productos
