doctype html
html(lang="es")
  head
    meta(charset='utf-8')
    title #{ seo.title }
    meta(name='description' content='#{ seo.description }')
    meta(name='keywords' content='#{ seo.keywords }')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/bower_components/animate.css/animate.min.css')
    link(rel='stylesheet' href='/css/main.css')
      
    script(src='/bower_components/modernizr/modernizr.js')

  - var bodyClass = '';
  - if( linkActivo === 'inicio' ){ bodyClass = 'withoutMenu' }
  body(class="#{bodyClass}")
    | <!--[if lt IE 10]>
    |   <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    | <![endif]-->  
    
    
  
    
    block content
    // Google Analytics: change UA-XXXXX-X to be your site's ID.
    script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-68841147-1');ga('send','pageview');
          
    script(src='http://maps.google.com/maps/api/js?sensor=false')
    script(src='/scripts/smoothScroll.js')
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js')
    script(src='/bower_components/fancybox/source/jquery.fancybox.pack.js')
    script(src='/bower_components/fancybox/source/helpers/jquery.fancybox-thumbs.js')
    script(src='/bower_components/wow/dist/wow.min.js')
    script(src='/scripts/flickr.js')
    script(src='/scripts/flickr-product.js')
    script(src='/scripts/main.js')
