@import "variables"

=keyframes($name)
  @-webkit-keyframes #{$name}
    @content
  @-moz-keyframes #{$name}
    @content
  @-ms-keyframes #{$name}
    @content
  @keyframes #{$name}
    @content


+keyframes(scale)
  50%
    transform:scale(1.2)

+keyframes(loader)
  0%
    margin: 50px 0px 0px 0px
    width: 0px
    opacity: 1
  50%
    width: 70%
    opacity: 1

  100%
    margin: 50px 100% 0px 0px
    width: 100%
    background-color: $blanco
    opacity: 0
