@import "variables"

.Catalogos

  &-download
    position: relative
    background:
      image: url('/images/catalogo1_bg.jpg')
    .falsefoto
      opacity: 0
    .center
      width: 100%
      top: 0
      position: absolute

      .downloadButton
        width: 330px
        margin: 16% auto 0px
        display: block
        border: 2px solid $azul
        padding: 10px 20px
        &--white
          border: 2px solid $blanco

        @media (max-width: $screen-md-min)
          margin: 40px auto 0px

        .icon
          margin-top: 10px
          i
            float: left
            font-size: 2em
            color: $azul
          &--white i
            color: $blanco

        .text
          margin: 0px 0px 0px 50px
          p
            color: $azul
            line-height: 26px
            font:
              size: 2em
              weight: 300
          span
            margin-top: 5px
            font-size: 0.9em
            color: $azul

          &--white
            p
              color: $blanco
            span
              color: $blanco

  &-dianne
    .Catalogos-download
      background:
        image: url('/images/catalogo1_bg.jpg')
    img
      width: 100%

  &-vip
    .Catalogos-download
      background:
        image: url('/images/catalogo2_bg.jpg')
    img
      width: 100%

  &-fenix
    .Catalogos-download
      background:
        color: #ffffff
        image: url('')
    img
      width: 100%
