@import "variables"

// Bootstrap reset

a, a:hover, a:focus
  color: $texto
  text-decoration: none

html, body
  background-color: $blanco

h1, h2, h3, h4, h5, h6
  margin: 0 0 0 0

p
  color: $texto
  font-size: 1em
  line-height: 22px
  font-weight: 400
  margin: 0px 0px 0px 0px

ul
  margin: 0px 0px 0px 0px
  padding: 0px 0px 0px 0px


// Comun styles

html, body
  height:100%
  background-color: $blanco
  font:
    family: 'Lato', sans-serif
    size: 14px
    weight: 400

body
  padding-top: 80px
  &.withoutMenu
    padding-top: 0px
    .navbar-defined
      display: none

h1.header
  margin: 60px 0px
  color: $azul
  font:
    size: 3em
    weight: 300
  text-align: center

// Fluid Box
.container-fluid
  padding-left: 0px
  padding-right: 0px
  .row
    margin-right: 0
    margin-left: 0
    & [class^="col-"], & [class*=" col-"]
      padding-right: 0
      padding-left: 0
