@import "variables"

.Contacto
  padding: 0px 0px 100px 0px

  &-mapa
    height: 400px
  &-redcomercial
    table
      p
        text-align: center
        color: #777777
        &.th
          color: $azul

  &-formulario
    padding: 90px 0px 15px
    text-align: center
    h1
      font:
        weight: 300
        size: 3em
      color: $azul
      margin: 0px 0px 10px 0px
    p
      margin: 0px 0px 6px 0px
    form
      margin-top: 20px
    button
      border: 1px solid $azul
      background-color: $azul
      color: $blanco
      padding: .85em 2.1em
      &:hover
        color: $blanco
        padding: .85em 2.1em
        background-color: $azul
        box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.25)
        transition: all 0.2s
