@import "variables"

// Sub footer
.Subfooter
  padding: 40px 0px
  background:
    image: url('/images/footer_bg.jpg')
    position: center center
    size: cover
    color: $azul

  &-contactButton
    text-align: right
    @media (max-width: $screen-md-min)
      text-align: center
      margin: 30px 0px
    a
      background-color: darken($azul, 10%)
      color: $blanco
      padding: 8px 30px

  h4
    color: $blanco
    font:
      weight: 300
      size: 1.6em
    @media (max-width: $screen-md-min)
      text-align: center
      padding: 0px 55px
      line-height: 1.6em


// Footer
.Footer
  padding: 30px 0px
  background-color: darken($azul, 10%)
  @media (max-width: $screen-md-min)
    padding: 50px 0px

  &-logo
    @media (max-width: $screen-md-min)
      text-align: center
    img
      width: 150px

  &-info
    color: $azul
    text-align: right
    @media (max-width: $screen-md-min)
      text-align: center
      margin: 10px 0px

  &-copyright

    color: $azul
    text-align: right
    @media (max-width: $screen-md-min)
      text-align: center

  &-socialLinks
    margin-top: 6px
    text-align: center

    li
      display: inline-block
      margin: 0px 5px 0px 5px

      a
        border-radius: 50%
        text-align: center
        display: block
        padding: 5px 0px 0px 0px
        background-color: $azul
        width: 30px
        height: 30px
        color: darken($azul, 10%)
