@import "variables"

.Hero
  padding: 0
  display: table
  width: 100%
  height: 100%
  background:
    image: url('/images/hero_bg.jpg')
    repeat: no-repeat
    position: top center
    size: cover
    color: $verde

  &-slogan
    display:table-cell
    vertical-align:middle
    text-align: center

    figure img
      width: 100px
      margin-bottom: 30px

    a
      padding: 10px 30px
      color: $blanco
      font-size: 1.2em
      background-color: $verde
      transition: all 0.2s
      &:hover
        box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.25)
        transition: all 0.2s

    h1
      text-shadow: 2px 2px 15px #000000
      color: $blanco
      font:
        size: 4.8em
        family: 'Open Sans', sans-serif
        weight: 800
    h2
      text-shadow: 2px 2px 15px #000000
      margin: 20px auto 40px auto
      color: $blanco
      font:
        size: 2.3em
        style: italic
        family: 'Open Sans', sans-serif
        weight: 400
