@import "variables"

.HomeEmpresa
  padding: 150px 0px

  &-iconos
    .icono
      margin: 0px 0px 50px 0px
      text-align: center
      p
        margin: 15px 0px 0px 0px
        font-size: 1.1em
        color: $azul

  &-texto
    padding: 0px 0px 70px 0px

    p
      text-align: center
      line-height: 2em
      color: $texto
      font:
        size: 1.2em

  &-link
    width: 190px
    text-align: center
    margin: 0 auto
    background-color: $verde
    color: $blanco
    display: block
    padding: 10px 40px
    font-size: 1.3em
    transition: all 0.2s

    &:hover
      color: $blanco
      box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.25)
      transition: all 0.2s
