@import "variables"
.HomeProceso
  padding: 0px 0px 150px 0px

  .separador
    height: 80px

  h1
    padding: 0px 0px 80px 0px
    color: $azul
    text-align: center

  h3
    padding: 15px 0px 10px 0px
    color: $azul
  p
    span
      a
        color: $azul
        &:hover
          color: $verde
  img
    width: 100%
