@import "variables"

.HomeInstalaciones

  &-box
    position: relative
    background-color: $azul
    height: 300px
    background:
      size: cover
      position: center center

    &:hover
      .cajaInfo
        left: 30px
        transition: all 0.3s

    &.uno
      background-image: url(/images/instalacion1.jpg)
    &.dos
      background-image: url(/images/instalacion2.jpg)
    &.tres
      background-image: url(/images/instalacion3.jpg)

  .cajaInfo
    position: absolute
    bottom: 20px
    left: 20px
    transition: all 0.5s

    p
      font-size: 1.3em
      color: $blanco
      text-shadow: 1px 1px 4px #333
      span
        font-size: 0.8em
        display: block
        color: $verde
        text-shadow: 0em 0em #333
