@import "variables"

.HomeCalidad
  padding: 220px 0px
  @media (max-width: $screen-xs-min)
    padding: 120px 0px

  &-foto
    width: 100%
    text-align: center
    img
      width: 100%

  &-infoBox
    width: 420px
    margin: 100px auto 0px auto
    @media (max-width: $screen-xs-min)
      width: 100%

    h3
      padding: 60px 0px 10px 0px
      margin: 0px 40px 20px 40px
      color: $azul
      text-align: center

      font:
        size: 2.0em
        weight: 300
      border:
        right: 6px solid $gris
        top: 6px solid $gris
        left: 6px solid $gris

    p
      color: $texto
      text-align: center
      line-height: 2em
      font:
        size: 1.1em
        weight: 300

    figure
      padding: 20px 0px 40px 0px
      margin: 0px 40px 20px 40px
      text-align: center
      border:
        right: 6px solid $gris
        bottom: 6px solid $gris
        left: 6px solid $gris

      img
        width: 30px
        height: 30px
