@import "variables"


.navbar-defined
  margin-bottom: 0
  border-bottom: 1px solid rgba(255,255,255,.3)
  text-transform: uppercase
  background-color: $blanco
  box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.25)

  .navbar-brand .navbar-toggle:focus, .navbar-brand .navbar-toggle:active
    outline: 0

  .navbar-header i
    color:$azul

  .nav > li
    @media (max-width: $screen-md-min)
      text-align: center

  .navbar-nav > li > a
    transition: all .5s ease
    color: $azul
    // padding: 30px 20px

  .nav li a:hover, .nav li a:focus, .nav li a.active
    color: $verde
    outline: 0
    background-color: rgba(255,255,255, 0)
    transition: all .5s ease

  #logotipo
    width: 140px
    margin-top:6px

  @media (min-width: $screen-md-min)
    .navbar-nav > li > a
      padding: 30px 20px

@media (max-width: $screen-md-min)
  .navbar
    padding: 10px 0px
    letter-spacing: 1px
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2)
    transition: background .2s ease-in-out,padding .2s ease-in-out
  .navbar-brand
    padding: 15px 15px
    #logotipo
      width: 110px
      margin-top:0px
