@import "variables"
@import "animations"
.Preloader
  background-color: $azul
  bottom:0
  left:0
  position:fixed
  right:0
  top:0
  z-index: 100

  &-logo
    background-image:url(/images/logo-xilema-blanco.svg)
    background-position:center center
    background-repeat:no-repeat
    height:200px
    width:200px
    left:50%
    top:50%
    margin: -100px 0 0 -100px
    position:absolute

  &-line
    position:absolute
    top:50%
    margin: 50px 0px 0px 0px
    width: 100%
    height: 1px
    background-color: $blanco
    animation: loader 1s ease-out infinite
