@import "variables"
.Producto-detail

  padding: 30px 0px 100px
  #flickrId
    display: none

  &-foto
    img
      width: 100%
  &-info
    padding: 30px 40px 10px
    h4
      font-size: 2.5em
      color: $azul
      font-weight: 300
    p
      font-size: 1.1em
      margin: 20px 0px
      line-height: 1.8em
  &-social
    opacity: 0
    padding: 40px 40px 0px
    a
      display: inline-block
      text-align: center
      width: 100%
      padding: 10px 0px
      background-color: $azul
      transition: all 0.2s
      margin-bottom: 2%
      &:hover
        box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.25)
        transition: all 0.2s
      p
        font-size: 0.9em
        font-weight: 300
        color: $blanco

      &.twitter_btn
        width: 49%
        margin-right: 2%
        background-color: $twitter
        @media (max-width: $screen-lg-min)
          width: 100%

      &.facebook_btn
        width: 49%
        background-color: $facebook
        @media (max-width: $screen-lg-min)
          width: 100%
