@import "variables"

.producto
  min-height: 260px
  margin: 0px 0px 40px 0px
  position: relative
  overflow: hidden
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.10)
  transition: all 0.2s
  @media (max-width: $screen-md-min)
    margin: 0px 0px 0px 0px

  .foto
    transition: all 0.2s
    transform: scale(1,1)
    position: absolute
    width: 100%
    top: 0
    bottom: 0
    left: 0
    background:
      // image: url(../images/producto-demo.jpg)
      repeat: no-repeat
      position: center center
      size: cover

  .info
    z-index: 999
    transition: all 0.2s
    opacity: 0
    position: absolute
    width: 100%
    top: 0
    bottom: 0
    left: 0
    padding: 0px 20px 0px 20px
    overflow: hidden
    background:
      image: url(../images/degradado.png)
      size: 100% 100%

    h5
      transition: all 0.2s
      margin: 150px 0px 10px 0px
      color: $azul
      font:
        size: 1.2em
        weight: 700

    .linksBox
      div
        color: $blanco
        display: inline-block
        padding: 2px 8px
        transition: all 0.3s
      &-ampliar
        background-color: $azul
        &:hover
          background-color: darken($azul, 10%)
          transition: all 0.3s

      &-detalles
        background-color: $verde
        &:hover
          background-color: darken($verde, 10%)
          transition: all 0.3s



  .loading
    position: absolute
    width: 100%
    top: 0
    bottom: 0
    left: 0
    background:
      image: url(../images/loading.gif)
      repeat: no-repeat
      position: center center
      color: #003948


.producto:hover
  box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.20)
  transition: all 0.5s
  .foto
    transform: scale(2.0,2.0)
    transition: all 0.5s
    -webkit-filter: blur(5px)
    -moz-filter: blur(5px)
    -o-filter: blur(5px)
    -ms-filter: blur(5px)
    filter: blur(5px)
  .info
    transition: all 0.5s
    opacity: 1
    h5
      transition: all 0.5s
      margin: 160px 0px 10px 0px

.producto-footer
  margin: 0px 0px 20px 0px
  h3
    padding: 20px 0px
    text-align: center
    color: $blanco
    background-color: $azul
    font-size: 1.2em !important
