@import "variables"

.Productos
  &-link
    text-align: center
    display: inline-block
    width: 20%
    padding: 10px 0px
    background-color: $azul
    color: $blanco
    font-size: 1.2em
    margin: 0px 0px 0px 0px
    cursor: pointer
    transition: all 0.2s
    @media (max-width: $screen-md-min)
      width: 100%

    &:hover, &.active
      color: $blanco
      background-color: $verde
      transition: all 0.2s

  &-listado
    margin: 30px 0px 0px 0px

    #FlickrLibrary
      min-height: 400px

    #FlickrLoading
      width: 100%
      padding: 50px 0px 500px 0px
      p
        font-size: 2em
        text-align: center
        i
          font-size: 0.8em
